*{

}

body {
  
}

h1 {
 padding: 0px;
 margin: 0px;
}

img {
    margin-top: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

ul {

}

li {
    display: inline-block;
    border-left-color: red;
    border-left-style: solid;
}

p {
  border-color: black;
  border-style: dashed;
  box-shadow: black;
  text-indent: 40px;
  width: 90%;
  background-color: rgb(125, 125, 209);
}

#header {
  text-align: center;
  background-color: rgb(108, 159, 203);

  padding: 0px;
  margin:   0px;

  border-width: 5px;
  border-bottom-color:black;
  border-bottom-style: solid;

}

#content{
  
}

#text {
    
}

#text p {
  width: 90%0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

#text p:first-child {
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
   background-image: url(../images/fondoParrafo.png);
   
}

#text p:last-child {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    
}

#menu {
    text-align: center;
}

#menu a{

}


#menu li{
    
}

#menu li a:hover{
    color: red;
}

#footer{
    border-top-style: solid;
    border-top-color:black;
    border-top-width: 5px;
}

#footer a{

}

#footer a:hover{
    color: red;
}
#image {
    text-align: right;
    
}

@media all and (max-width: 500px) {
    img{
        border-color: red;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}
